@use 'variables' as *;
@use 'mixins' as *;

#app-main {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  padding-top: 40px;

  @include breakpoint-down($breakpoint-sm) {
    padding-top: 52px;
  }
}

.c-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $spacing-4;
  padding: $spacing-8;
}
